@import "./vars.scss";
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

* {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
p,
input {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none !important;
  --borderWidth: 3px;
  border-radius: var(--borderWidth);
  transition: all 3s;
}
button:hover {
  & > span {
    color: #fff;
  }
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 2s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
