@import "./vars.scss";
body {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  background-color: $bg;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
* {
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

h1,
h2,
p,
input {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button {
  border: none !important;
  --borderWidth: 3px;
  border-radius: var(--borderWidth);
  transition: all 3s;
}
.button--hover:hover {
  & > span {
    color: #fff;
  }
  background: $gradient;
  animation: animatedgradient 2s ease alternate infinite;
  background-size: 300% 300%;
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes shakeFx {
  from,
  to {
    transform: translate3d(0, 0, 0);
    background-color: $red;
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%,
  40%,
  60%,
  80% {
    background-color: $red;

    transform: translate3d(10px, 0, 0);
  }
}

.shakeX {
  animation: shakeFx 1s ease infinite;
}

//  ======================

@keyframes tadaFx {
  from {
    transform: scale3d(1, 1, 1);
    background-color: $green;
  }

  10%,
  20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    transform: scale3d(1, 1, 1);
    background-color: $green;
  }
}

.tada {
  animation: tadaFx $duration ease infinite;
}
