@import "../../styles/vars.scss";
cardWrapper {
  opacity: 0;
  scale: 0;
}
.card {
  --borderWidth: 2px;
  position: relative;
  border-radius: var(--borderWidth);
  max-width: 800px;
  &:after {
    content: "";
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: $gradient;
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 3s ease alternate infinite;
    background-size: 300% 300%;
  }
  & .ant-card-head-title {
    font-size: 18px;
    display: flex;
    justify-content: center;
    white-space: inherit;
    text-align: center;
  }
  &__button {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    & > span {
      font-size: 18px;
      font-weight: 600;
    }
  }
  &__button--correct {
    background-color: green;
  }
  &__button--incorrect {
    background-color: red;
  }
  &__wrapperBtn {
    display: flex;
    flex-direction: column;
    & + & {
      margin-left: 15px;
    }
  }
  &__button + &__button {
    margin-top: 15px;
  }
}

.runningRow {
  // width: 100%;
  height: 10px;
  background: $gradient;
  border-radius: 6px;
  // animation: run 5s ease;
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes run {
  from {
    width: 0px;
  }
  to {
    width: 100%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
